.card {
  width: 100%; 
  max-width: 1200px;
  margin: 0 auto 1rem auto;
  margin-top: 1rem;
  border: none;
  padding: 0;
  box-sizing: border-box;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;

  i{
    padding: 0.5rem;
  }
}

.app-dashboard-hospitais {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem;
  background-color: #C0D9CE;
  border-radius: 8px;

.hospital-dropdown {
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #E7F3E7;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;

  &:hover {
    background-color: #00995D;
    color: white;
  }
}

.dropdown-menu {
  .dropdown-item {
    transition: background-color 0.3s ease, color 0.3s ease;

    &:hover {
      background-color: #00995D;
      color: white;
    }
  }
}

}

.dashboard-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;

  app-bloco-cards {
    flex: 1;
    max-width: 48%;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;

    app-bloco-cards {
      max-width: 100%;
    }
  }
}



